extends layout

block link
  -var moviedata= data;
  -var comments= comments
  script(type='text/javascript').
    = 'moviedata = ' + moviedata + ';' + 'comments = ' + comments + ';'

block content
  div
    img(src='http://image.tmdb.org/t/p/' + 'w396' + moviedata.poster_path)
    b
      p= moviedata.tagline
  div#moviedescription
    p
    h1
      p= moviedata.title
    b Overview:
    p= moviedata.overview
    b Genres:
    ul
      each val in moviedata.genres
        li= val.name
    b Release Date:
    p= moviedata.release_date
    b Runtime:
    p= moviedata.runtime
    b Budget:
    p= '$' + moviedata.budget
    b Production companies:
    ul
      each val in moviedata.production_companies
        li= val.name
    h6= moviedata.id
    form
      input(name="score", id='input-21d', value='0', type='number', class='rating', min=0, max=5, step=0.5, data-size='sm')
      button#ratebutton(type="button", class="btn btn-success")
        |Rate!
  div#comments
    form(name="register", action="/api/make_account", method="post", onsubmit="return checkPass(this);")
      input(type="text", name="commentfield", id="comment", class="form-control", placeholder="Comment now...")
    table
